	<div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalBody">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="modalConfirmBtn" data-bs-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% if(typeof(isLogin) === 'undefined') { %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.bundle.min.js" integrity="sha512-Tc0i+vRogmX4NN7tuLbQfBxa8JkfUSAxSFVzmU31nVdHyiHElPPy2cWfFacmCJKw0VqovrzKhdd2TSTMdAxp2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.24.2/bootstrap-table.min.js" integrity="sha512-GS/lQJ1AiKWEDCgf1yKepN4m/xewSX6jEVL06KQU6jdAZb3FprSXR2cdBL7FHmo6t5M2gcspMi8I6DqzfPGVew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.24.2/locale/bootstrap-table-zh-CN.min.js" integrity="sha512-1z91kiOCGFEU6onJ74CjPlDmFW0GlQysovJAZVYV91qN5N6yr3S1Pn1FhXaN5HOuRjA0MLuMnRVxvqc/pB0PYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.24.2/extensions/filter-control/bootstrap-table-filter-control.min.js" integrity="sha512-DBSfotF9PwYW+DEDF7kDo1JIJAk1AMpFv57exNjLvdbQQT71mcmGGbBweoq/T7vnIy3jNxwRbV9GQt+TGZ/Xow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% } %>
<% if (typeof(addJs) !== 'undefined') { %>
	<% addJs.forEach(function(js){ %>
	<script src="/js/<%= js %>.js"></script>
	<% }); %>
<% } %>

	<footer class="footer py-4 bg-light">
		<div class="container">
			<hr class="my-4">
			
			<div class="text-center mb-4">
				<p class="text-muted">© 2025-2026 <span class="person" itemscope itemtype="https://schema.org/Person"><span itemprop="name">奚叔2099</span></span> 版权所有</p>
				<p class="text-muted">联系我（base64）: c2hhbGxvd2xvbmdAZ21haWwuY29t</p>
			</div>
			
			<div class="text-center">
				<div class="d-flex justify-content-center gap-4">
					<a href="https://haxiaodou.store" class="social-link" title="主站" target="_blank" rel="noopener">
						<div class="social-icon"><i class="fas fa-home"></i></div>
					</a>
					<a href="https://github.com/shallowlong" class="social-link" title="GitHub" target="_blank" rel="noopener">
						<div class="social-icon"><i class="fab fa-github"></i></div>
					</a>
					<a href="https://weibo.com/u/7931789656" class="social-link" title="Weibo" target="_blank" rel="noopener">
						<div class="social-icon"><i class="fab fa-weibo"></i></div>
					</a>
					<a href="https://x.com/shallowlong" class="social-link" title="Twitter/X" target="_blank" rel="noopener">
						<div class="social-icon"><i class="fab fa-twitter"></i></div>
					</a>
					<a href="https://www.instagram.com/shallowlong/" class="social-link" title="Instagram" target="_blank" rel="noopener">
						<div class="social-icon"><i class="fab fa-instagram"></i></div>
					</a>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>