<tr>
	<td><%= supplier.storeId %></td>
	<td><%= supplier.supplierName %></td>
	<td><%= supplier.storeName %></td>
	<td><%= supplier.storeNo %></td>
	<td><%= supplier.storeAddress %></td>
	<td><%= supplier.sectionCode %></td>
	<td><%= supplier.storeSequence %></td>
	<td><%= supplier.supplierType %></td>
	<td><%= supplier.othersTakeGood %></td>
	<td><%= supplier.usingUserExpress %></td>
	<td><%= supplier.autoPushAndPrint %></td>
	<td><%= supplier.autoSyncToSupplier %></td>
	<td><%= supplier.allowToChangePrice %></td>
	<td><%= supplier.paymentPoint %></td>
	<td><%= supplier.contactPhoneNum %></td>
</tr>
